.contenidoCentro{
    border: solid 1px blue;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    width: 70vw;
    height: 120vh;

}